
<body>
    <div class="container">
         <h2>Signup With</h2>
         <div class="icons">
            <a href="#"><img src="/facebook.jpg" alt="Facebook"></a>
            <a href="#"><img src="/google.png" alt="Gmail"></a>
        </div>
       
            <h3 style="color: aliceblue;">Or</h3>
        <form action="#">
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <button type="submit" style="margin-bottom: 30px;">Signup</button>
        </form>
       
        <a href="/login" >Already have an account?Login</a>
    </div>
</body>
</html>
