
<body>
    <div class="container">
         <h2>Signup With</h2>
         <div class="icons">
            <div>
            <a href="/login/facebook"><img src="/facebook.jpg" alt="Facebook"> Facebook</a></div>
            <div>
            <a href="login/google"><img src="/google.png" alt="Gmail"> Google</a></div>
        </div>
       
            <h3 style="color: aliceblue;font-weight:lighter">Or</h3>
        <form action="#">
     
              <input type="text" placeholder= "First Name" required/> 
              <input type="text" placeholder= "Last Name" required/>  
            <input type="email" placeholder="Email" required>
            <input type="password" placeholder="Password" required>
            <input type="password" placeholder="Confirm Password" required>
            <button type="submit" style="margin-bottom: 30px;">Signup</button>
        </form>
       
        <a href="/login" >Already have an account?Login</a>
    </div>
</body>
</html>
